/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

/*   ----- Variables  -----  */
:root {
  --cobaltBlue : #0460D9;
  --lightPink: #F2C4DC;
  --mustard: #F2D06B;
  --darkBrown: #73482F;
}

/* ---- General ---- */
body {    
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: var(--cobaltBlue);
  font-family: "Signika", sans-serif;
}

.page {
  margin: 4%;
  font-size: large;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 1vw;
  max-height: fit-content;
}

/*  ----- Navigation ----- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  margin: 0;
  font-size: 24px;
}

.menu {
  display: flex;
  gap: 40px;
  font-size: 18px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: var(--cobaltBlue);
}

.menu.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1;
  text-align: center;
  gap: 20px;
}

.menu.show a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.menu.show a:hover, .logout-button:hover {
  color: var(--cobaltBlue)
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--cobaltBlue);
  margin: 5px 0;
  transition: 0.4s;
}

.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.logout-button {
  border: none;
  font-family: inherit;
  font-size: 18px; 
  color: black; 
  background: none;
  cursor: pointer;
}

/* ----- Anchors ----- */
a {
  color: var(--darkBrown);
}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  -----  Typography  ----- */
h1 {
  font-family: "Caprasimo", serif;
  margin-bottom: 4%;
}

h2 {
  margin-bottom: 2%;
}

/*  ----- Table ----- */
table {
  width: 95%;
  text-align: center;
  border-collapse: collapse;
  margin: 1% auto;
}

th {
  background-color: var(--mustard);
  padding: 0.7%;
}

tbody {
  font-size: 95%;
}

td {
  padding: 1%;
  white-space: nowrap;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* ---- Home/landing page ---- */
.home-container {
  background-image: url(./images/STB/STB-background.png);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  align-items: center;
  color: white;
}

.home h1 {
  margin-bottom: 1%;
  font-size: 4.5vw;
}

.home p {
  font-family: inherit;
  margin: 0;
  margin-bottom: 3%;
  font-size: 2vw;
}

.home img {
  max-width: 100%;
  width: 40vw;
  height: auto; 
  margin-bottom: 5%;
}

.home-content {
  background-color: white;
  padding-top: 5%;
  width: 60%;
  margin: 2% auto;
  margin-bottom: 4%;
  text-align: center;
  font-size: 2vw;
}

.home-content img {
  max-width: 100%;
  width: 10vw;
  height: auto; 
}

.about-ratings img {
  min-width: 100%;
  width: 100vw;
  height: auto; 
}

/*  ----- Regsiter & Login Forms ----- */
.form-container {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: var(--cobaltBlue);
}

.form {
  background-color: white;
  padding: 2%;
  border-radius: 8px;
  font-size: large;
}

.form p {
  text-align: center;
}

.form input {
  font-size: 90%;
  padding: 2%;
  margin-bottom: 4%;
  border-radius: 8px;
  width: calc(100% - 6%);
}

.form label {
  display: block;
  margin-bottom: 1%;
}

.form-button {
  display: block;
  width: 60%;
  border-radius: 10px;
  background-color: var(--mustard);
  font-size: 100%;
  font-family: inherit;
  font-weight: bold;
  border: 2px solid;
  border-radius: 8px;
  margin-bottom: 10%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.form-button:hover {
  background-color: var(--darkBrown);
  color: white;
}

/* ---- Search page ---- */
.search-form {
  margin-bottom: 3%;
} 

.form-object {
  margin-right: 2%;
}

.search-form select {
  padding: 0.2%;
  margin-bottom: 1%;
}

.search-form label {
  margin-right: 1%;
}

.search-button {
  border-radius: 10px;
  background-color: var(--mustard);
  font-weight: bold;
  font-size: 90%;
}

/* ---- Profile page ---- */
.user-info {
  margin-bottom: 4%;
}

/* ---- Shop profile page ---- */
.shop-info, .shop-ratings {
  margin-bottom: 3%;
}

.shop-ratings {
  border: 2px solid var(--darkBrown);
  width: fit-content;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

/*-- Add & edit review forms ----*/
.review-form {
  border: 2px solid var(--darkBrown);
  border-radius: 8px;
  padding: 2%;
  width: 60%;
  margin: 0 auto;
}

.review-form input, .textarea {
  margin-bottom: 2%;
}

.review-form label {
  padding-top: 2%;
}

.ratings-key {
  color: var(--darkBrown);
  font-size: smaller;
  padding: 0;
}

.textarea label {
  display: block;
  margin-bottom: 1%; 
  margin-top: 2%;
}

.textarea textarea {
  width: 50%;
  padding: 2%;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1%;
}

.ratings {
  display: block;
}

.radio-label {
  margin-right: 2%;
}

/* ---- Smaller screen sizes ---- */
@media screen and (max-width: 768px) {
  .form-container {
    padding: 10%; 
  }

  .form {
    padding: 10%; 
  }

  .menu {
    display: none; 
  }

  .hamburger {
    display: block; 
  }
}
