/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

/*   ----- Variables  -----  */
:root {
  --cobaltBlue : #0460D9;
  --lightPink: #F2C4DC;
  --mustard: #F2D06B;
  --darkBrown: #73482F;
}

/* ---- General ---- */
body {    
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: var(--cobaltBlue);
  font-family: "Signika", sans-serif;
}

/*  ----- Header -----  */
header {}


/* ----- Anchors ----- Text links */
a {}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {}
nav a {}
nav a:hover {}

/*  -----  Typography  ----- */
p {}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {} 
h1 {
  font-family: "Caprasimo", serif;
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {}
caption {}
thead {}
tbody {}
tfoot {}
tr {}
  tr:nth-child(even) {}
th {}
td {}
  td:nth-child(1) {}
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
.form-container {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: var(--cobaltBlue);
}

.form {
  background-color: white;
  padding: 2%;
  border-radius: 8px;
  font-size: large;
}

.form p {
  text-align: center;
}

.form input, select, textarea {
  font-size: 90%;
  padding: 2%;
  margin-bottom: 4%;
  border-radius: 8px;
  width: calc(100% - 6%);
}

.form label {
  display: block;
  margin-bottom: 1%;
}

.form-button {
  display: block;
  width: 60%;
  border-radius:10px;
  background-color: var(--mustard);
  font-weight:bold;
  font-size: 90%;
  border: 2px solid;
  border-radius: 8px;
  margin-bottom: 10%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.form-button:hover {
  background-color: var(--darkBrown);
  color: white;
}

input {}
select {}
  optgroup {}
  option {}
textarea {}
output {}
meter {}
progress {}


/* ----- Media ----- */
figure {}
  figcaption {}
  figure img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}
/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.gallery {}

.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

@keyframes App-logo {}

@media screen and (max-width: 768px) {
  .form-container {
    padding: 10%; /* Adjust padding to make the container smaller */
  }

  .form {
    padding: 10%; /* Adjust padding to make the form smaller */
  }
}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}